.button {
  padding: 0.75rem;
  border-radius: 1.75rem;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;

  transition: all 0.3s ease-in-out;

  &.primary-button {
    background-color: #2478ff;
    color: whitesmoke;
  }
  &:active {
    transform: scale(0.95);
  }
}
