@use "./styles/button.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  color: white;
  background-color: black;
  font-family: "Inter", sans-serif;
}
