@use "./styles/button.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
  font-family: "Inter", sans-serif;
}

button{
  transition: all 0.3s ease-in-out;
  &:active{
    scale: 0.95;
  }
}